body
  div
    span todo app
    div
      ul.list
      form#todo-form
        div
          input#todo-title
        div
          input#submit(type="submit" value="create todo") 

script(src="/index.js")
